@use './variables' as *;

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: $product-dimension;
  margin: $size-medium;
}

.product-image {
  height: $product-dimension;
  border: $border-standard;
  border-top-left-radius: $border-radius-standard;
  border-top-right-radius: $border-radius-standard;
  object-fit: cover;
  background-color: $background-gray;
}

.product-info {
  padding: $size-medium;
  border: $border-standard;
  border-bottom-left-radius: $border-radius-standard;
  border-bottom-right-radius: $border-radius-standard;
  border-top-color: transparent;
}

.product-brand {
  font-weight: 700;
}

.product-title {
  margin-bottom: $size-small;
}

.product-description {
  margin-bottom: $size-small;
}

.product-price {
  font-size: 1.5rem;
}
