@use './variables' as *;

.tabular-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $size-medium;
}

.product-row-header,
.product-row {
  display: flex;

  span {
    width: 96px;
    border: $border-standard;
    border-right-color: transparent;
    border-bottom-color: transparent;
    padding: $size-small;
    text-align: left;
    overflow-wrap: break-word;
  }

  &.product-row-header span {
    border-color: transparent;
    font-weight: 700;
  }

  .tabular-stars {
    padding: $size-small $size-medium;
    border: $border-standard;
    border-bottom-color: transparent;
  }
}

.product-row:last-of-type {
  border-bottom: $border-standard;
}
