/* Colors */
$black: 000;
$white: #fff;
$border-gray: rgba(36, 41, 46, 0.4);
$font-gray: rgb(36, 41, 46);
$background-gray: #a6a6a6;
$button-primary-main: #3871dc;
$button-primary-shade: rgb(44, 90, 176);
$star-yellow: #ffac2f;
$star-yellow-shade: #ed9715;
$button-green: #a3ff8a;
$button-lavender: #c38dfc;
$button-green-shade: #89e670;
$button-lavender-shade: #a56be3;

/* Dimensions */
$size-small: .5rem;
$size-medium: 1rem;
$product-dimension: 300px;

/* Border */
$border-standard: 1px solid $border-gray;
$border-radius-standard: 10px;

/* Fonts */
$font-family-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-color-primary: $font-gray;
