/* Colors */
$light-gray: #d3d3d3;

/* Dimensions */
$size-small: .5rem;
$size-medium: 1rem;
$product-dimension: 300px;

/* Border */
$border-standard: 1px solid $light-gray;
$border-radius-standard: 10px;
