@use './variables' as *;
@use './products' as *;
@use './stars' as *;
@use './tabular-format' as *;

.tabular-toggle-button {
  margin: $size-medium;
  border: none;
  padding: $size-small $size-medium;
  background-color: $button-blue;
  color: $white;
  font-weight: 700;
}
