@use './variables' as *;
@use './products' as *;
@use './stars' as *;
@use './tabular-format' as *;

.App {
  padding-top: $size-medium;
  font-family: $font-family-primary;
  color: $font-color-primary;
}

button {
  border: none;
  padding: $size-small $size-medium;
}

.products-source-control-container {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border-width: 2px;
    border-style: solid;
    margin-left: $size-medium;
    background-color: $star-yellow;

    &:hover {
      background-color: $star-yellow-shade;
    }

    &:first-of-type {
      background-color: $button-green;

      &:hover {
        background-color: $button-green-shade;
      }
    }

    &:last-of-type {
      background-color: $button-lavender;

      &:hover {
        background-color: $button-lavender-shade;
      }
    }
  }
}

.button-products-view {
  margin: $size-medium;
  background-color: $button-primary-main;
  color: $white;
  font-family: $font-family-primary;
  font-weight: 700;

  &:hover {
    background-color: $button-primary-shade;
  }
}
