@use './variables' as *;
@use './products' as *;
@use './stars' as *;
@use './tabular-format' as *;

.App {
  font-family: $font-family-primary;
  color: $font-color-primary;
}

button {
  margin: $size-medium;
  border: none;
  padding: $size-small $size-medium;
  background-color: $button-primary-main;
  color: $white;
  font-family: $font-family-primary;
  font-weight: 700;

  &:hover {
    background-color: $button-primary-shade;
  }
}
